header {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #40659a;
  display: flex;
  justify-content: center;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.search-container {
  position: relative;
}

.search-container_input {
  height: 36px;
  width: 304px;
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
}

.search-container_icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 86%;
  top: 37%;
}
